################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookStoreApp/.vs/BookStoreApp
/BookStoreApp/BookStoreApp/bin/Debug/net8.0
